<h1>Editar Hospital</h1>
<mat-card>
    <mat-card-content>
        <form [formGroup]="hospitalForm" (ngSubmit)="onSubmit()">
            <div style="margin-bottom: 16px;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" [placeholder]="hospital?.nombre">
                    <mat-error *ngIf="hospitalForm.get('nombre')?.hasError('required')">
                        El nombre es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
            <div style="margin-bottom: 16px;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="direccion" [placeholder]="hospital?.direccion">
                    <mat-error *ngIf="hospitalForm.get('direccion')?.hasError('required')">
                        La dirección es obligatoria
                    </mat-error>
                </mat-form-field>
            </div>
            <div style="text-align: right;">
                <button mat-raised-button color="primary" type="submit" [disabled]="hospitalForm.invalid">Actualizar Hospital</button>
                <button mat-raised-button (click)="cancelar()">Cancelar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>